:root {
  --background-color: #eeeeee;
  --primary-color: #f43b00;
  --accent-color: gray;

  --default-letter: var(--accent-color);
  --mismatched-letter: red;
  --matched-letter: var(--primary-color);
}
