.light {
  --background-color: #E1E1E3;
  --primary-color: #f43b00;
  --accent-color: gray;

  --default-letter: var(--accent-color);
  --mismatched-letter: red;
  --matched-letter: var(--primary-color);
}

.dark {
  --background-color: #313131;
  --primary-color: #f43b00;
  --accent-color: gray;

  --default-letter: var(--accent-color);
  --mismatched-letter: red;
  --matched-letter: var(--primary-color);
}

